[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
tldextract = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
wordcloud = "*"
scikit-learn = "*"
nltk = "*"
twython = "*"
jupyter = "*"
jupyterlab = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
